APP_NAME="Smart Rental Pro"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=smart_rental_pro
DB_USERNAME=root
DB_PASSWORD=

FILESYSTEM_DISK=public
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

RENTAL_TAX_RATE=0.11
RENTAL_DEPOSIT_RATE=0.30
RENTAL_MINIMUM_HOURS=24
RENTAL_CURRENCY=IDR
